<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/CSS/about.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rakibul Kaisar - About</title>
</head>
<body>
    <header>
        <div class="heading">
            <h2>Port-Folio</h2>
        </div>
        <div class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                
            </ul>
        </div>
    </header>

    <main>
        <div class="about-me">
            <h2>About Me</h2>
            <div class="about-content">
                <p>
                    Hello! I'm MD. Rakibul Kaiser, a passionate Graphics Designer with a keen eye for detail and creativity.
                    With years of experience in creating visually stunning designs, I strive to deliver high-quality work that 
                    resonates with the audience. I enjoy exploring new design trends and tools to constantly improve my skills. 
                    Whether it's branding, digital illustrations, or web design, I'm always up for a challenge and love bringing 
                    ideas to life.
                </p>
                <p>
                    In my free time, I enjoy photography, exploring nature, and spending time with my family and friends. 
                    I'm always looking to connect with like-minded individuals and work on exciting projects that push the boundaries 
                    of creativity. Let's create something amazing together!
                </p>
            </div>
        </div>
    </main>

    <footer>
        <div class="panel1 panel">
            <ul>CONTACT ( Rakibul Kaisar ) :

                <li>
                    <i class="fa-brands fa-instagram"></i>
                    <a href="https://www.instagram.com/rakibul_kaisar?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">INSTAGRAM</a>
                </li>
                <li>
                    <i class="fa-brands fa-facebook"></i>
                    <a href="https://www.facebook.com/profile.php?id=100086231654466">FACEBOOK</a>
                </li>

            </ul>

            
        </div>
        <div class="panel2 panel">
            <ul>CONTACT-DEV ( ASHFAQ ZARIF )  :

                <li>
                    <i class="fa-brands fa-instagram"></i>
                    <a href="https://www.instagram.com/ashfaq_zarif/">INSTAGRAM</a>
                </li>
                <li>
                    <i class="fa-brands fa-facebook"></i>
                    <a href="https://www.facebook.com/ashfaqzarif/">FACEBOOK</a>
                </li>

            </ul>

            
        </div>
    </footer>

    <script src=""></script>
</body>
</html>
